Repository getsentry/sentry-fastlane-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/rubocop/rubocop
    rev: v1.82.1
    hooks:
      - id: rubocop
        args: [--force-exclusion]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: ^(script/|bin/).*\.(sh|bash)$

  - repo: local
    hooks:
      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown files with dprint"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON files with dprint"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML files with dprint"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

Enhance APK, AAB, and IPA path validation in sentry_upload_build
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

fix indentation
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

use pinned actions
  .github/workflows/add-platform-label.yml
  .github/workflows/changelog-preview.yml
  .github/workflows/danger.yml
  .github/workflows/integration-test.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/update-deps.yml
Due: format-yaml

fix(ci): revert workflow updater to v2
  .github/workflows/update-deps.yml
Due: format-yaml

ci: add statuses write permission
  .github/workflows/changelog-preview.yml
Due: format-yaml

fix(ci): revert workflow updater to v2 (#403)
  .github/workflows/update-deps.yml
Due: format-yaml

ci: move permissions to job level
  .github/workflows/changelog-preview.yml
Due: format-yaml

ci: Fix changelog-preview action
  .github/workflows/changelog-preview.yml
Due: format-yaml

ci: Fix changelog-preview action (#405)
  .github/workflows/changelog-preview.yml
Due: format-yaml

fix styling; removed comments
  .rubocop.yml
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-yaml

feat: Add support for APK, AAB, and IPA uploads to sentry_upload_build (#397)
  .rubocop.yml
  CHANGELOG.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown, format-yaml

release: 2.0.0-rc.3
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

fix(ci): Change update-cli workflow to use getsentry/github-workflows/updater
  .github/workflows/update-deps.yml
Due: format-yaml

chore(ci): Update update-deps workflow to use main branch and enhance permissions
  .github/workflows/update-deps.yml
Due: format-yaml

WIP
  .github/workflows/update-deps.yml
Due: format-yaml

testing
  script/sentry-cli.properties
Due: none

reverts
  script/sentry-cli.properties
Due: none

docs: Duplicate changelog from 2.0.0-rc.3 to unreleased
  CHANGELOG.md
Due: format-markdown

docs: Duplicate changelog from 2.0.0-rc.3 to unreleased (#412)
  CHANGELOG.md
Due: format-markdown

fix(ci): Add job outputs for update-cli composite action
  .github/workflows/update-deps.yml
Due: format-yaml

release: 2.0.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

Update .github/workflows/update-deps.yml
  .github/workflows/update-deps.yml
Due: format-yaml

fix(ci): Change update-cli to use getsentry/github-workflows/updater (#411)
  .github/workflows/update-deps.yml
Due: format-yaml

chore: update script/sentry-cli.properties to 3.2.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

feat(sentry_upload_build): Add install_groups parameter
  CHANGELOG.md
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

docs(changelog): Add PR link for install_groups feature
  CHANGELOG.md
Due: format-markdown

refactor: Remove redundant comments
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

style: Fix line length in details method
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

feat(sentry_upload_build): Add install_groups parameter (#414)
  CHANGELOG.md
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

release: 2.1.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

Revert "build(deps): bump getsentry/craft/.github/workflows/changelog-preview…"
  .github/workflows/changelog-preview.yml
Due: format-yaml

fix(ci): Use bundler instead of gem install for integration tests
  .github/workflows/integration-test.yml
  test/integration-test.sh
Due: format-yaml

fix(ci): Use bash to run integration test script on all platforms
  .github/workflows/integration-test.yml
Due: format-yaml

fix(ci): Use bundler instead of gem install for integration tests (#422)
  .github/workflows/integration-test.yml
  test/integration-test.sh
Due: format-yaml

chore: update script/sentry-cli.properties to 3.2.1
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown
