Repository getsentry/sentry-fastlane-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/rubocop/rubocop
    rev: v1.82.1
    hooks:
      - id: rubocop
        args: [--force-exclusion]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: ^(script/|bin/).*\.(sh|bash)$

  - repo: local
    hooks:
      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown files with dprint"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON files with dprint"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML files with dprint"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

chore: update script/sentry-cli.properties to 3.2.2
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

ci: Use exact version numbers in dependency comments
  .github/workflows/changelog-preview.yml
  .github/workflows/danger.yml
  .github/workflows/prepare_release.yml
Due: format-yaml

ci: Use exact version numbers in dependency comments (#428)
  .github/workflows/changelog-preview.yml
  .github/workflows/danger.yml
  .github/workflows/prepare_release.yml
Due: format-yaml

ci(update-deps): Use GitHub App token instead of CI_DEPLOY_KEY
  .github/workflows/update-deps.yml
Due: format-yaml

ci(update-deps): Scope GitHub App token to this repository
  .github/workflows/update-deps.yml
Due: format-yaml

revert: ci(update-deps): Scope GitHub App token to this repository
  .github/workflows/update-deps.yml
Due: format-yaml

ci(update-deps): Use GitHub App token instead of CI_DEPLOY_KEY (#429)
  .github/workflows/update-deps.yml
Due: format-yaml

release: 2.1.1
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.2.3
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

fix(upload_build): Prefer explicit path params over SharedValues defaults
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

update changelog
  CHANGELOG.md
Due: format-markdown

fix(upload_build): Only show dSYM success when files actually uploaded
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

Address PR feedback: dsym_path SharedValues fallback and changelog
  CHANGELOG.md
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

fix(upload_build): Prefer explicit path params over SharedValues defaults (#434)
  CHANGELOG.md
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

release: 2.2.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.3.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

feat(snapshots): Add sentry_upload_snapshots action (EME-912)
  assets/snapshots/.gitkeep
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  spec/sentry_upload_snapshots_spec.rb
Due: none

fix(snapshots): Update action description (EME-912)
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
Due: none

docs: Add changelog entry for upload snapshots action (EME-912)
  CHANGELOG.md
Due: format-markdown

docs: Move snapshots entry to Experimental section (EME-912)
  CHANGELOG.md
Due: format-markdown

refactor(snapshots): Use temp dir in test instead of gitkeep (EME-912)
  assets/snapshots/.gitkeep
  spec/sentry_upload_snapshots_spec.rb
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

Update lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
Due: none

chore: update script/sentry-cli.properties to 3.3.1
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

chore: update script/sentry-cli.properties to 3.3.2
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

chore: update script/sentry-cli.properties to 3.3.3
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

feat(snapshots): Add sentry_upload_snapshots action (#436)
  CHANGELOG.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  spec/sentry_upload_snapshots_spec.rb
Due: format-markdown

release: 2.3.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

feat(snapshots): Add VCS options to sentry_upload_snapshots action
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  spec/sentry_upload_snapshots_spec.rb
Due: none

docs: Add changelog entry for snapshots VCS options
  CHANGELOG.md
Due: format-markdown

refactor: Extract shared VCS config into SentryConfig
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  lib/fastlane/plugin/sentry/helper/sentry_config.rb
Due: none

feat(snapshots): Add VCS options to sentry_upload_snapshots action (#444)
  CHANGELOG.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  lib/fastlane/plugin/sentry/helper/sentry_config.rb
  spec/sentry_upload_snapshots_spec.rb
Due: format-markdown

fix(changelog): Move VCS options entry to Unreleased section
  CHANGELOG.md
Due: format-markdown
