Repository getsentry/sentry-fastlane-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-markdown, format-json, format-yaml

format-markdown:
  name: Format Markdown
  description: Format Markdown files with dprint
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON files with dprint
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML files with dprint
  entry: dprint
  language: system
  args:
  - fmt

chore: add NinjaLikesCheez to CODEOWNERS (#515)
  .github/CODEOWNERS
Due: none

release: 2.6.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

Update Ruby version requirement in CONTRIBUTING.md from 3.0 to 3.1.0
  CONTRIBUTING.md
Due: format-markdown

docs: add CONTRIBUTING.md (#510)
  CONTRIBUTING.md
Due: format-markdown

chore: update script/sentry-cli.properties to 3.6.1
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.6.1
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.6.2
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.6.2
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

ci: Remove disabled changelog-preview workflow
  .github/workflows/changelog-preview.yml
Due: format-yaml

ci: Remove disabled changelog-preview workflow (#528)
  .github/workflows/changelog-preview.yml
Due: format-yaml

fix: Pin action-setup-cli to a real, published version
  .github/workflows/test.yml
Due: format-yaml

feat(build): Add dSYMs to IPA uploads
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: none

feat(build): Forward all dSYM inputs
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

build(deps): Sync plugin version in lockfile
  Gemfile.lock
Due: none

feat(build): Include dSYMs in IPA build uploads
  CHANGELOG.md
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.7.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.6.3
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

docs(build): Clarify supported dSYM inputs
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
Due: none

fix(build): Skip missing dSYM inputs
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: none

fix(build): Guard dSYM build uploads
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: none

docs(build): Explain IPA dSYM upload usage
  CHANGELOG.md
Due: format-markdown

feat(build): Include dSYMs in IPA build uploads (#531)
  CHANGELOG.md
  Gemfile.lock
  README.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_build.rb
  spec/sentry_upload_build_spec.rb
Due: format-markdown

release: 2.7.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.8.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.8.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

fix(helper): Anchor the Sentry CLI version regex
  lib/fastlane/plugin/sentry/helper/sentry_helper.rb
  spec/sentry_helper_spec.rb
Due: none

Path conditions:
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
  format-yaml: any of: ^.*\.(yaml|yml)$ and \.(yaml|yml)$
