Repository getsentry/sentry-fastlane-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-markdown, format-json, format-yaml

format-markdown:
  name: Format Markdown
  description: Format Markdown files with dprint
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON files with dprint
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML files with dprint
  entry: dprint
  language: system
  args:
  - fmt

release: 2.4.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

fix(changelog): Move VCS options entry to Unreleased section (#449)
  CHANGELOG.md
Due: format-markdown

release: 2.4.0 (#450)
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.3.4
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

fix(ci): set explicit commit author for update-binaries job
  .github/workflows/update-deps.yml
Due: format-yaml

release: 2.5.0
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.3.5
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

fix(ci): use GitHub App bot user ID in noreply commit email
  .github/workflows/update-deps.yml
Due: format-yaml

fix(ci): set explicit commit author for update-binaries job (#457)
  .github/workflows/update-deps.yml
Due: format-yaml

release: 2.5.1
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.4.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.2
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.4.1
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.3
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.4.2
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.4
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.4.3
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.5
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.5.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.6
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

release: 2.5.7
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

build: harden supply chain — pin dev deps, track lockfile, add bundler to Dependabot
  .github/dependabot.yml
  .gitignore
  Gemfile.lock
  fastlane-plugin-sentry.gemspec
Due: format-yaml

build: pin bundler version in integration-test CI
  .github/workflows/integration-test.yml
Due: format-yaml

chore: update script/sentry-cli.properties to 3.5.1
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

release: 2.5.8
  CHANGELOG.md
  lib/fastlane/plugin/sentry/version.rb
Due: format-markdown

chore: update script/sentry-cli.properties to 3.6.0
  CHANGELOG.md
  script/sentry-cli.properties
Due: format-markdown

chore: remove explicit bundler installation from CI workflows and darwin from Gemfile.lock
  .github/workflows/integration-test.yml
  .github/workflows/test.yml
  Gemfile.lock
Due: format-yaml

build(deps): bump faraday from 1.10.5 to 1.10.6 in Gemfile.lock
  Gemfile.lock
Due: none

chore: Pin dev deps, track lockfile, add bundler to Dependabot (#497)
  .github/dependabot.yml
  .github/workflows/test.yml
  .gitignore
  Gemfile.lock
  fastlane-plugin-sentry.gemspec
Due: format-yaml

feat(snapshots): add diff_threshold parameter to sentry_upload_snapshots
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  spec/sentry_upload_snapshots_spec.rb
Due: none

fix: diff_threshold validation and description formatting
  CHANGELOG.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
Due: format-markdown

style: use between? for diff_threshold validation
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
Due: none

feat(snapshots): add diff_threshold parameter to sentry_upload_snapshots (#509)
  CHANGELOG.md
  lib/fastlane/plugin/sentry/actions/sentry_upload_snapshots.rb
  spec/sentry_upload_snapshots_spec.rb
Due: format-markdown

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: format-markdown

build: update Ruby version to 3.3.11
  .github/workflows/integration-test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .ruby-version
Due: format-yaml

Apply suggestion from @itaybre
  CONTRIBUTING.md
Due: format-markdown

build: update Ruby version to 3.3.11 (#511)
  .github/workflows/integration-test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .ruby-version
Due: format-yaml

chore: add yours truly to the codeowners
  .github/CODEOWNERS
Due: none

Path conditions:
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
  format-yaml: any of: ^.*\.(yaml|yml)$ and \.(yaml|yml)$
